# Pin constraints — spi_message
# Target: ICE40HX8K-CT256

set_io              clk      J3   # GBIN6/SYSCLK — 50 MHz LAN8720 NINT/REFCLK
set_io              led      C2   # LED (active high)
set_io -pullup yes  btn      F4   # Button (active low)

set_io -nowarn      spi_sck  R11  # Pi GPIO11  SPI0_CLK
set_io -nowarn      spi_cs_n R12  # Pi GPIO8   SPI0_CE0_N
set_io -nowarn      spi_miso P12  # Pi GPIO9   SPI0_MISO
